/*
COLOR PALETTE
Choose a color palette and paste the hex codes here to use below
https://coolors.co/

#343434 Dark color for fonts on a light background
#F7FFF7 light color for fonts on a dark background

*/


/* Global styles
------------------------------------*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
  }
  img {
    width: 300px;
  }
  a {
    /* color: ; */
  }
  a:hover {
    text-decoration: none;
  }
  h1 {
    font-size: 5em;
    line-height: 1;
  }
  h2 {
    font-size: 1.25em;
  }
  header h2 {
    font-size: 2em;
  }
  h1, h2 {
    font-weight: 700;
    margin: 0;
  }
  .content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
  }
  h3 {
    margin-bottom: 0;
  }
  .item-details h3 + p {
    font-style: italic;
  }
  .item-details h3 ~ p {
    margin: 0;
  }
  .divider > section {
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
  }
  .divider > section:last-of-type {
    border-bottom: none;
  }
  
  
  /* Profile
  ------------------------------------*/
  header {
    /* background: ; */
    /* color: ; */
  }
  
  
  /* Projects
  ------------------------------------*/
  .projects {
    /* background: ; */
  }
  .projects a {
    /* color: ; */
  }
  .projects .btn {
    /* color: ; */
    /* background: ; */
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
  }
  .projects .btn:hover {
    /* background: ; */
  }
  .project-item {
    overflow: hidden;
  }
  .project-item h3 {
    margin-top: 0;
  }
  
  /* Education
  ------------------------------------*/
  .education {
    /* background-color: ; */
    background-position: top right;
    padding-bottom: 100px;
  }
  .education p {
    width: 60%;
  }
  
  
  /* Contact Info
  ------------------------------------*/
  footer {
    /* background: ; */
    /* color: ; */
  }
  .contact-list {
    list-style-type: none;
    padding: 0;
  }
  .contact-list a {
    padding: 15px;
    display: inline-block;
    /* color: ; */
  }


/* Responsive
------------------------------------*/
@media screen and (min-width:750px){
  header, footer {
    text-align: center;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }

  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width:749px){
  h1 {
    font-size: 2em;
    line-height: 0.9;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 1.2em;
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }
  img {
    width: 200px;
  }
}